MONGO_URI=mongodb+srv://<db_user>:<db_password>@<cluster-host>/<db_name>?retryWrites=true&w=majority
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
CORS_ORIGINS=http://localhost:5173,https://your-frontend-domain.com
PORT=3000
